{% extends base %}

{% block preamble %}

    <!-- TODO: try to use only one static folder for common resources at least -->
    <!-- <link href="/ocean_data_qc_js/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet"> -->

    <script src="/ocean_data_qc/static/js/jquery-v3.3.1.js"></script>

    <link href="/ocean_data_qc/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/ocean_data_qc/static/css/font_awesome_v5.3.1.css" rel="stylesheet" type="text/css" />
    <link href="/ocean_data_qc/static/css/font_awesome_v4.7.0.css" rel="stylesheet" type="text/css" />
    <link href="/ocean_data_qc/static/css/awesome_bootstrap_checkbox.css" rel="stylesheet" type="text/css" />

    <link href="/ocean_data_qc/static/css/bokeh_custom.css" rel="stylesheet" type="text/css" />
    <link href="/ocean_data_qc/static/css/flags_control.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block inner_body %}
    {% block contents %}

    <div class="bokeh_page">
        <div>
            {{ embed(roots.bridge_row) }}
        </div>
        <div class="wrapper">
            <div class="content-wrapper">
                <div class="o_tabs">
                    {{ embed(roots.tabs_widget_col) }}
                </div>
            </div>
            <div class="o_sidebar">
                {{ embed(roots.sidebar_col) }}
            </div>
        </div>
    </div>


    {% endblock %}
    {{ plot_script | indent(8) }}

    <script>
        oldLog = console.log;
        console.log = function (message) {
            if(message.localeCompare('Bokeh items were rendered successfully') == 0){
                window.top.postMessage('bokeh-loaded', '*');
                console.log = oldLog;
            }
            oldLog.apply(console, arguments);
        };

        $(window).keydown(function(event){
            if(event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
            if(event.keyCode == 27) {
                event.preventDefault();
                window.top.postMessage({
                    'signal': 'esc-pressed',
                }, '*');                        // to main_renderer.js
                return false;
            }
        });

        window.onmessage = function(e){
            if (typeof(e.data.signal) != "undefined") {
                if (e.data.signal == 'call-python-promise' || e.data.signal == 'update-bridge-text-value') {
                        // this updates dummy text field value and triggers the click event of the bridge_button

                        // NOTE: This cannot be replaced defining the onchange event of the dummy text, imagine that
                        //       you want to run the same action twice, there would'n be change on the value to trigger the python method

                        var models = window.Bokeh.index[Object.keys(window.Bokeh.index)[0]].model.document._all_models;
                        var model_id = null;
                        $.each(models, function (m_id) {
                            if (models[m_id].constructor.name == 'TextInput') {
                                model_id = m_id;
                                // console.log('>> TextInput Name: ' + models[m_id].attributes.name)
                            }
                        });
                        var input_bridge_text = models[model_id];
                        input_bridge_text.value = JSON.stringify(e.data.message_data);
                        var button = $('.bridge_button>div>button')
                        button.click();
                } else if (e.data.signal == 'on-ready') {
                    console.log('ON READY');

                    // get current original top absolute position of checkboxes

                    // ------ FIXED PROFILES ------

                    var new_fp_cb = $('<div>', {
                        class: 'abc-checkbox abc-checkbox-primary bk-fixed-profiles-cb',
                    });
                    new_fp_cb.append(
                        $('<input>', {
                            id: 'id_fixed_profiles_cb',
                            type: 'checkbox'
                        })
                    );
                    new_fp_cb.append(
                        $('<label>', {
                            for: 'id_fixed_profiles_cb',
                            text: 'Fixed profiles'
                        })
                    );
                    $('.fixed_profiles_cb').before(new_fp_cb);

                    $('#id_fixed_profiles_cb').change(function() {
                        if(this.checked) {
                            $('.fixed_profiles_cb input').click();
                        } else {
                            $('.fixed_profiles_cb input').click();
                        }
                    });
                    fix_prof_top = parseInt($('.flags_control_col').css('height')) + 15 + 'px'
                    $('.bk-fixed-profiles-cb').css('top', fix_prof_top)

                    // ------ SHOW NEARBY STATION -----

                    var new_sns_cb = $('<div>', {
                        class: 'abc-checkbox abc-checkbox-primary bk-show-nearby-station-cb',
                    });

                    new_sns_cb.append(
                        $('<input>', {
                            id: 'id_show_nearby_station_cb',
                            type: 'checkbox'
                        })
                    );
                    new_sns_cb.append(
                        $('<label>', {
                            for: 'id_show_nearby_station_cb',
                            text: 'Show nearby station'
                        })
                    );
                    $('.show_nearby_station_cb').before(new_sns_cb);

                    $('#id_show_nearby_station_cb').change(function() {
                        if(this.checked) {
                            $('.show_nearby_station_cb input').click();
                        } else {
                            $('.show_nearby_station_cb input').click();
                        }
                    });
                    show_near_stt_top = parseInt($('.flags_control_col').css('height')) + 35 + 'px'
                    $('.bk-show-nearby-station-cb').css('top', show_near_stt_top)

                    window.top.postMessage({
                        'signal': 'on-ready',
                        'params': 'continue',
                    }, '*');                        // to main_renderer.js
                }
            }

        };
    </script>

{% endblock %}
