{% extends base %}

{% block preamble %}

    <!-- TODO: try to use only one static folder for common resources at least -->
    <!-- <link href="/ocean_data_qc_js/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet"> -->

    <script src="/ocean_data_qc/static/js/jquery-v3.3.1.js"></script>

    <link href="/ocean_data_qc/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/ocean_data_qc/static/css/font_awesome_v5.3.1.css" rel="stylesheet" type="text/css" />
    <link href="/ocean_data_qc/static/css/font_awesome_v4.7.0.css" rel="stylesheet" type="text/css" />
    <link href="/ocean_data_qc/static/css/awesome_bootstrap_checkbox.css" rel="stylesheet" type="text/css" />

    <link href="/ocean_data_qc/static/css/bokeh_custom.css" rel="stylesheet" type="text/css" />
    <link href="/ocean_data_qc/static/css/flags_control.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/ocean_data_qc/static/js/custom.js"></script>

{% endblock %}

{% block inner_body %}
    {% block contents %}

    <div id="click_me_div">
        <input id="clickMe" type="button" value="Screenshot" onclick="screenshot()" />
    </div>
    <div id="aux_dpi_div">Aux div<img id="aux_dpi_img" src="\ocean_data_qc\static\img\deselect.png" /></div>

    <div class="bokeh_page">
        <div>
            {{ embed(roots.bridge_row) }}
        </div>
        <div class="wrapper">
            <div class="content-wrapper">
                <div class="o_tabs">
                    {{ embed(roots.tabs_widget_col) }}
                </div>
            </div>
            <div class="o_sidebar">
                {{ embed(roots.sidebar_col) }}
            </div>
        </div>
    </div>


    {% endblock %}
    {{ plot_script | indent(8) }}

{% endblock %}
