
body, body label, body input,
body select, body button {
    font: caption; /* system font */
    font-size: 0.9rem !important;
    user-select: none; /* no selectable text */
}

body a {
    color: #337ab5;
}

h2 {
    margin-bottom: 40px;
}

h5 {
    font-weight: bold;
    color: #337ab7;
}

.ml15 {
    margin-left: 15px;
}

.jumbotron {
    border: 2px solid #337ab7;
    height: 300px;
}

.jumbotron>img {
    display: none;  /* to make work the fade in animation */
}

#atlantos_img div img {
    height: 164px;
}

#atlantos_img div {
    height: 164px;
}

#atlantos_img {
    display: none;  /* to make work the fade in animation */
    float: right;
    margin-right: 70px;
}

#ctd_img {
    height: 192px;
}

.btn-primary {
    background-color: #337ab5 !important;
    border-color: #337ab5 !important;
}

/* MAIN FORM */

#panels {
    min-height: 270px;
    height: 350px;
}

.card {
    border: 0px !important;
}

.card .card-title {
    font-size: 1.1em;
    font-weight: bold;

    /* FIXME: This is not going to work on the asar file */
    /* background-image: url(../img/background.png);  */

    background-size: cover;
    background-color: #337ab7;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid  #337ab7;
    border-radius: 0px;
}

.card .card-body {
    border: 2px solid  #337ab7;
}

.card .card-body p {
    margin-bottom: 0.3rem;
}

.card a {
    color: #337ab7;
}

.card-title .fa {
    margin: 4px;
}

#bokeh_info {
    color: red;
    margin-bottom: 5px;
}

.dev_mode {
    color: #5cb85c !important;
}

#enable_dev_mode:hover, #enable_dev_mode:focus {
    text-decoration: none;
    color: #337ab7;
}

.container {
    background-color: whitesmoke;
}

.update_done {
    color: #5cb85c;
}

.update_error {
    color: red;
}

.update_working {
    color: #e07714;
}

.json_template_blue {
    color: #337ab7;
}

.json_template_green {
    color: #5cb85c;
}

.json_template_red {
    color: red;
}

.json_template_orange, .json_template_orange>a {
    color: #e07714;
}

/* MODAL WINDOW */

.modal-content {
    border-radius: 0.0 !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5) !important;
}

.table th, .table td {
    padding: 0.4rem !important;
}

.modal-body p{
    margin: 7px 0px 7px 0px;
}

.modal-body label{
    font-size: 1em;
    text-align: left !important;
    padding-left: 0px;
}

.modal-body input[type='text']{
    /* min-width: 300px; not for everyone */
    max-width: 500px;
}

.modal-body .row {
    margin-top: 5px;
    margin-bottom: 10px;
}

.modal-body pre {
    background: #f4f4f4;
    font: 13px Consolas,Monaco,Courier New,Courier,monospace;
    line-height: 1.5;
    margin-bottom: 1.625em;
    overflow: auto;
    padding: .8em 1em;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    color: #111;
}

.modal-body { /* scrollable content */
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    padding: 1rem 3rem 1rem 1rem !important;
    margin: 0rem 0rem 0rem 2rem !important;
}

.modal-header .close { /* close button in the middle */
    margin: -0.8rem -0.5rem -1rem auto !important;
}

.modal-lg {
    max-width: 60% !important;
}

/* TITLE */

#project_name.modified{
    font-style: italic;
}

/* BOKEH IFRAME */

html {
    overflow: auto;
}

html, body, .bokeh_iframe {
    overflow: hidden;
    background: whitesmoke !important;
    margin: 0px;
    padding: 0px;
    height: 100%;
    border: none;
}

.bokeh_iframe {
    display: block;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

/* SPIN LOADER */

.loader_container {
    width: 100vw;
    height: 100vh;
    cursor: wait;
}

.loader {
    border: 16px solid #d7e9f9;
    border-radius: 50%;
    border-top: 16px solid #337ab7;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 10% auto;
}

.mini_loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #337ab7;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-left: 10px;
}

.top_layer {
    /* to block any action in the whole document */
    cursor: wait;
    z-index: 9999;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.float_button, .help_form_float_button {
    z-index: 10000;
    height: 100px;
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
}

.float_button #close_df_data, .help_form_float_button #close_help_form_bt {
    margin: 15px;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* CODEMIRROR TEXTAREA, JSON EDITOR */

.CodeMirror {
    /* margin-top: 10px; */
    height: 400px !important;
    /* with monokai theme this is not necessary */
    /* border: 1px solid black;  */
}

/* SETTINGS MODAL FORM */

#set_project_settings_form {
    margin-left: -15px;
    margin-right: -15px;
}

#set_project_settings_form .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.performance_help, .possible_formats {
    color: #337ab5;
}


fieldset table th {
    background-color: #337ab7;
    color: white;
    border: 1px solid #337ab5 !important;
    font-weight: bold;
    letter-spacing: 1px;
}

fieldset table {
    border: 1px solid #337ab5 !important;
}

fieldset a:hover{
    text-decoration: none;
}

fieldset select[name='tab_title'] {
    width: 30% !important;
    float: left;
}

.layout_computed_param_column {
    background-color: #5cb85c;
    color: white;
}

.delete_tab {
    margin-left: 15px;
}


#set_project_settings_form label {
    font-weight: bold;
    padding-top: 6px;
}

/* UPDATE CRUISE DATA FORM */

.comparison_title {
    font-weight: bold;
    color: #337ab7;
}

table.results_table td.remove_warning {
    background-color: white;
    padding: 15px 0px 0px 0px !important;
    border: 0 !important;
}

/* UPDATE VALUES FORM */

.results_table td:first-child { /* title */
    width: 300px;
}

.results_table td:nth-child(2) { /* changes */
    width: 360px;
}

.results_table td:nth-child(3) { /* checkboxes cell */
    width: 0px;
}

a#update_values_by_station {
    padding-left: 15px;
}

/* UPDATE VALUES BY STATION MODAL FORM */

#accordion_stations .ui-state-active {
    background: #337ab7 !important;
}

.no-padding-left {
    padding-left: 0px !important;
}

/* add_computed_parameter form */

select[name='added_computed_param'] { /* left select */
    min-height: 273px;
}

#add_computed_parameter label {
    margin-left: 0px;
}

#add_computed_parameter select {
    padding: 0px;
}

#add_computed_parameter option {
    padding: 3px;
}

/* add_computed_parameter help form */

#add_computed_parameter_help_form pre, .edit_metadata_label pre {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.comp_param_buttons_proj {
    margin-top: 10px;
}

#add_new_computed_param input[type='text'] {
    min-width: 100px;
}

/* add_computed_parameter_expression form */

.expr_form_fields label {
    padding-top: 7px;
}

input[name='precision'] {
    width: 70px;
}

input[name='units'] {
    width: 110px;
    margin-left: -25px;
}

#add_computed_parameter_expression select {
    margin-left: -15px;
    padding: 0px;
}

#add_computed_parameter_expression option {
    padding: 3px;
}

.label_adjust {
    margin-left: -15px;
}

textarea[name='equation'] {
    margin: 0px;
    width: 808px;
    height: 91px;
    font: 1em Courier;
    font-weight: bold;
}

label[for='add_default_computed_parameter'] {
    padding-left: 15px !important;
    padding-top: 3px;
}

.comp_param_buttons {
    margin: 10px 0px 0px -15px;
}

.btt_lst_span {
    padding-left: 10px;
}

/* mark with a green gradient (bootstrap success color) the items that are in the default list */

select[name='all_computed_param'] {
    background: transparent;
}

.default_param {
  position: relative;
  overflow: hidden;
}

.default_param:before {
  content: "";
  position: absolute;
  width: 900px;
  height: 300px;
  top: -50%;
  left: -50%;
  background-image: linear-gradient(#5cb85c, transparent);
  transform: rotate(90deg);
}

.missing_param {
    position: relative;
    overflow: hidden;
  }

.missing_param:before {
    content: "";
    position: absolute;
    width: 900px;
    height: 300px;
    top: -50%;
    left: -50%;
    background-image: linear-gradient(#d9534f, transparent);
    transform: rotate(90deg);
}

/* Awesome bootstrap checkbox (fix top) */

.abc-checkbox label::after {
    top: 3px !important;
}

/* To select data in the Show data table form */
.user_select_all {
    user-select: all !important;
}

.set_octave_path_manually a {
    color: #337ab7 !important;
}

/* COLUMN SETTINGS MODAL */

.wide-modal-dialog {
    max-width: 90% !important;
}

/* FONT SIZE */

body, .form-control-sm, .btn {
    font-size: 0.7rem !important;
}

.btn {
    line-height: 1.2 !important;
}