
.tooltip-inner {
    max-width: 300px !important;
    text-align: left !important;
}

.tooltip-inner ul {
    text-align: left;
    line-height: 0.5rem;
    margin-top: 1rem !important;
}

.tooltip-inner pre {
    /* if not the some words are cut by the line height */
    overflow: visible !important;
}

/* TOOLTIP INFO */

.tooltip-inner {
    background-color: #cce5ff !important;
    color: #004085 !important;
    padding: 0.4rem 0.6rem !important;
    font-size: 0.8rem;
}
.tooltip.bs-tooltip-right .arrow:before {
    border-right-color: #cce5ff !important;
}
.tooltip.bs-tooltip-left .arrow:before {
    border-left-color: #cce5ff !important;
}
.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #cce5ff !important;
}
.tooltip.bs-tooltip-top .arrow:before {
    border-top-color: #cce5ff !important;
}

/* TOOLTIP ERROR */

.tooltip-error .tooltip-inner {
    background-color: #f8d7da !important;
    color: #721c24 !important;
    padding: 0.4rem 0.6rem !important;
    font-size: 0.8rem;
}
.tooltip-error.bs-tooltip-right .arrow:before {
    border-right-color: #f8d7da !important;
}
.tooltip-error.bs-tooltip-left .arrow:before {
    border-left-color: #f8d7da !important;
}
.tooltip-error.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #f8d7da !important;
}
.tooltip-error.bs-tooltip-top .arrow:before {
    border-top-color: #f8d7da !important;
}

/* POPOVERS */

.popover {
    background-color: #cce5ff !important;
    max-width: 500px !important;
    border-color: rgb(0, 64, 133, 0.5) !important;
    box-shadow: 0px 0px 10px -2px grey;
}
.popover .popover-body {
    color: #004085 !important;
    font-size: 0.8rem;
}
.bs-popover-right > .arrow::before, .bs-popover-auto[x-placement^="right"] > .arrow::before {
    border-right-color: rgba(0, 64, 133, 0.5) !important;
}
.bs-popover-right > .arrow::after, .bs-popover-auto[x-placement^="right"] > .arrow::after {
    border-right-color: #cce5ff !important;
}
