body {
    overflow: hidden;
    background: whitesmoke;
    font: caption; /* system font */
    user-select: none; /* no selectable text */
}

.bk-root .bk-slick-row{
    font-size: 10px;
}

.bk-root .bk-slick-column-name{
    font-size: 10px;
}

.bk-logo {
    display: none !important;
}

.bk-bs-nav li a {
    font-weight: bold !important;
    text-decoration: none !important;
    letter-spacing: 0.1em !important;
    color: black;
}

.bk-bs-nav li.bk-bs-active a {
    background-color: #337AB7 !important;
    color: white !important;
}

.bk-bs-tab-content {
    padding: 10px 0px 0px 0px !important;
}

.bokeh_hidden {
    display: none !important;
}

.bridge_row {
    display: none !important;
}

.sample_div>div {
    padding-left: 25px !important;
    padding-top: 8px !important;
}

.nearby_prof_select>div  {
    padding-left: 0px !important;
    padding-top: 0px !important;
}

.flagger_bts .bk-widget-box {
    margin-right: 5px;
}

/* TABS AND SIDEBAR */

.o_tabs {
    margin-right: 248px;
    padding-bottom: 30px;
    clear: both;
    overflow: auto;
    height: 100vh;
}

.tabs_widget_col {
    margin-top: 10px !important;
    margin-left: 10px !important;
}

.o_tabs>.bk-root>.bk>.bk>.bk {
    top: 0px !important;
}

.o_tabs>.bk-root>.bk>.bk>.bk>.bk {
    top: 40px !important;
}

.o_sidebar {
    position: relative;
    width: 250px;
    margin-left: -250px;
    float: right;
    overflow-y: scroll;
    overflow-x: hidden;
    border-left-color: #d3d3d3;
    border-left-width: 3px;
    border-left-style: solid;
    padding-left: 20px;
    height: 100vh;
}

.sidebar_col {
    top: 20px !important;
    margin-bottom: 15px !important;
}

.wrapper {
    margin: 0 auto;
    position: relative;
    min-height: 600px;
}

.content-wrapper {
    float: left;
    width: 100%;
}

/* CONTROLS */

.flagger_select {
    width: 200px;
    margin-top: -10px !important;
}

.flagger_select select {
    max-width: 170px;
}

.flags_control_col {
    margin-left: -5px !important;
    margin-top: -9px !important;
}

.data_table {       /* this class is not added due to a bokeh bug */
    width: 190px !important;
    height: 125px !important;
}

.bk-fixed-profiles-cb {
    position: absolute;
    left: 7px;
    width: 200px;
    height: 10px;
    display: block;
    margin-top: 25px;
}

.bk-show-nearby-station-cb {
    position: absolute;
    left: 7px;
    width: 200px;
    height: 20px;
    display: block;
    margin-top: 30px;
}

.bk-fixed-profiles-cb label, .bk-show-nearby-station-cb label {
    padding-top: 4px;
}

.bk-root .slick-header-columns, .bk-root .slick-header-column, .bk-root .slick-header-column:hover {
    background-image: none !important;
    background: initial !important;
}